{% extends 'news/base.html' %}

{% block content %}
<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="new_sec">
        <ul>
            <li><a href="{% url 'latest' %}">Latest News</a></li>
            <li><a href="{% url 'bd' %}">Bangladesh</a></li>
            <li><a href="{% url 'pn' %}">Politics</a></li>
            <li><a href="{% url 'world' %}">World</a></li>
            <li><a href="{% url 'sports' %}">Sports</a></li>
            <li><a href="{% url 'trade' %}">Trade</a></li>
            <li><a href="{% url 'technology' %}">Technology</a></li>
            <li><a href="{% url 'entertainment' %}">Entertainment</a></li>
        </ul>
    </div>
</div>
{% endblock content %}