{% extends 'news/base.html' %}
{% load static %}
{% block content %}
        <div class="detalsnews">
            <div class="details">
                <h1>অন্তর্বর্তী সরকারকে ব্যর্থ হতে দেওয়া যাবে না: তারেক</a></h1>
                <img src="{% static 'image/image4.jpg' %}" alt="bangladesh News Image">
                <h6>Published: Sept. 18, 2024, 2:27 a.m.</h6>
                <span>গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান। গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান। গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।  তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান  তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান।গণতান্ত্রিক সরকার প্রতিষ্ঠার লক্ষ্যে কাজ করে যাওয়া অন্তর্বর্তীকালীন সরকারকে ব্যর্থ হতে দেওয়া যাবে না মন্তব্য করে বিএনপির ভারপ্রাপ্ত চেয়ারম্যান তারেক রহমান বলেছেন, সংস্কারের পথ ধরে নির্বাচনি রোডম্যাপে যাবে বাংলাদেশ।

                মঙ্গলবার বিকালে রাজধানীর নয়া পল্টনে বিএনপির সমাবেশে ভার্চুয়ালি যুক্ত হয়ে তিনি নেতাকর্মীদের বক্তব্য রাখছিলেন।
                
                তিনি নির্বাচন কমিশন, জনপ্রশাসন ও আইনশৃঙ্খলা বাহিনীর সংস্কার করে একটি নির্বাচিত সরকার প্রতিষ্ঠার কাজকে অগ্রাধিকার দিতে অন্তর্বর্তীকালীন সরকারের প্রতি আহ্বান জানান.</span>
            </div>
        </div>
{% endblock content %}